html,
body {
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
} */

body {
  margin: 0;
  font-family: "Roboto", -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
